body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: url(alcohol-g2adf2f0c5_1920.jpg) center/cover;
  min-height: 100vh;
  /* VH = 100% de la taille de l'écran (viewport height) */
  /* min-height: 100vh; */
}

h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  /* Les tailles de polices doivent être en REM */
  font-size: 6vw;
  text-shadow: 3px 3px 0px #ffffff42;
  color: #0e1a0f;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
  min-height: 500px;
  width: 90%;
  background: rgba(245, 245, 245, 0.603);
  /* Centrer une boite */
  margin: 0 auto;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px 20px 0 0;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
}

div{
  display: flex;
  justify-content: center;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  /* Les tailles de polices doivent être en REM */
  font-size: 2.5rem;
  margin: 0;
  
}

.flexbox,
.grid{
  border: 2px solid rgba(0, 0, 0, 0.459);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  min-height: 150px;
}

.style{
  display:flex;
  justify-content: center;
  margin:20px auto
}

/* GRID */
.grid-container {
  display: grid;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "i1 i2"
    "ta ta"
    "vi bt";
}

input,
textarea {
  margin: 5px;
  border: 1px solid darkblue;
  padding: 10px;
  font-size: 1.1rem;
  font-family: "DMSerif";
  border-radius: 5px;
}

textarea {
  grid-area: ta;
  height: 40px;
  resize: none;
}

#btn-submit {
  grid-area: bt;
  cursor: pointer;
  background: rgb(177, 104, 22);
  transition: 0.2s;
}

#btn-submit:hover {
  background: rgb(139, 0, 0);
  color: white;
}

/* RESPONSIVE  */
@media screen and (max-width: 900px) {
  .grid-container {
    display: block;
  }
  .grid-container img {
    width: 40%;
  }
}

@media screen and (max-width: 610px){
  
  form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "i1"
      "i2"
      "ta"
      "bt";
  }
  input,
  textarea {
    font-size: 0.8rem;
  }
}
